# Project exclude paths
/.gradle/
/build/
/build/classes/java/test/

### Gradle
bin/
.gradle
.gradletasknamecache
gradle-app.setting
!gradle-wrapper.jar

### IntelliJ
out/
.idea/
.idea_modules/
*.iml
*.ipr
*.iws

.DS_Store